* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 10px;
	max-width: 750px;
	outline: 1px solid black;
	height: 500px;
	font-family: "PT Mono", monospace;
  overflow: hidden;
}
.logo-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 15px;
}
.logo-wrapper img {
	width: 100%;
	max-width: 350px;
}
.description-wrapper {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.description-wrapper p {
  margin-bottom: 5px;
}
	
.label-wrapper {
/*  height: 40px;
  padding-top: 10px;*/
}
.label {
  font-weight: bold;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.counter, .swipe, .change-slide {
 display: inline-block;
 font-size: .8em;
}

.change-slide {
  color: #ddd;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-right: 5px
}
.change-slide.active {
  color: #000;
  cursor: pointer;
}
.change-slide.active:hover {
  text-decoration: underline;
}


.incident-block{
  border: solid 3px #000;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px;
  height: 160px;
  text-align: left;
  cursor: pointer;
  position: absolute;
  display: none;
}
.incident-block.sliding {
  position: absolute;
}
.incident-block .map-thumb{
  width: 30%;
  height: 100%;
  background-position: 50% 50%;
  display: inline-block;
}

.incident-block .text-container{
  width: 68%;
  display: inline-block;
}

.incident-block.left .map-thumb{
  float: left;
}

.incident-block.left .text-container{
  float: right;
}

.incident-block .incident-date{
  color: #94090d;
  padding: 0.5em;
  margin-top: 0px;
  margin-bottom: 0.3em;
  z-index: 2;
}
.incident-block a {
  text-decoration: none;
  color: inherit;
}
.incident-block .incident-title{
    font-size: 1.1em;
    padding: 0 0.5em;
}



/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .description-wrapper {
    font-size: .9em;
  }
  .description-wrapper p {
    margin-bottom: 15px;
  }
  .description-wrapper p.a {
    line-height: 1.5em;
  }
  .cards-wrapper {
    font-size: .8em;
  }
}